<h1>All Gratitudes</h1>

<ul>
  <% @gratitudes.each do |grat| %>
    <li><%= link_to grat.title, gratitude_path(grat) %> by <%= grat.user.email %> on <%= grat.created_at.strftime("%A %m/%d/%Y %r") %> </li>
    <br>
  <% end %> 
</ul>
